<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{/static/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/static/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
	<link th:href="@{/static/css/plugins/bootstrap-table.min.css}" rel="stylesheet" />
  
    <script th:inline="javascript">
	/** web开发基本路径，初始化容器加载application中的server.context-path */
	var contextPath=/*[[${application.contextPath}]]*/;
	</script>
</head>
<body>
<h1>123456789</h1><br/>
<h1><a href="https://www.baidu.com/">前往百度</a></h1>
<h1><a href="/yut/base/user/gridBrands?pageSize=10&pageNumber=1">查看列表</a></h1>
<!-- <h1><a id="userList">查看用户列表bootstrap</a></h1> -->
 <table id="tb_list"></table>
 
<script th:src="@{/static/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
<script th:src="@{/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript">
$(function () {
	 //1.初始化Table
    var oTable = new TableInit();
    oTable.Init();
    //2.初始化Button的点击事件
    var oButtonInit = new ButtonInit();
    oButtonInit.Init();
    
});	
	
	  var TableInit = function () {
          var oTableInit = new Object();
          //初始化Table
          oTableInit.Init = function () {
              $('#tb_list').bootstrapTable({
                  url: contextPath + '/base/user/gridBrands',
                  method: 'get',                      //请求方式（*）
                  toolbar: '#toolbar',                //工具按钮用哪个容器
                  striped: true,                      //是否显示行间隔色
                  cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                  pagination: true,                   //是否显示分页（*）
                  sortable: false,                     //是否启用排序
                  sortOrder: "asc",                   //排序方式
                  queryParamsType:'', 
                  queryParams: oTableInit.queryParams,//传递参数（*）
                  sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                  pageNumber:1,                       //初始化加载第一页，默认第一页
                  pageSize: 10,                       //每页的记录行数（*）
                  pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                  search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                  strictSearch: true,
                  showColumns: true,                  //是否显示所有的列
                  showRefresh: true,                  //是否显示刷新按钮
                  minimumCountColumns: 2,             //最少允许的列数
                  clickToSelect: true,                //是否启用点击选中行
                                                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                  uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                  showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
                  cardView: false,                    //是否显示详细视图
                  detailView: false,                   //是否显示父子表
                  columns: [{
                      checkbox: true
                  }, {
                      field: 'loginUserName',
                      title: '登录名'
                  },{
                      field: 'realName',
                      title: '用户姓名'
                  },{
                      field: 'mail',
                      title: '邮箱'
                  },{
                      field: 'mobile',
                      title: '手机号码'
                  },{
                      field: 'companyStr',
                      title: '所属公司'
                  },{
                      field: 'isBindStr',
                      title: '绑定手机'
                  },{
                      field: 'activeTime',
                      title: '激活时间'
                  },{
                      field: 'beginWorkDate',
                      title: '入职日期'
                  },{
                      field: 'endWorkDate',
                      title: '离职日期'
                  },{
                      field: 'idCard',
                      title: '身份证号'
                  },{
                      field: 'mac',
                      title: 'mac地址'
                  },{
                      field: 'roleName',
                      title: '角色'
                  },{
                      field: 'ssrTypeStr',
                      title: '人员类型'
                  },{
                      field: 'workStateStr',
                      title: '在职状态'
                  },{
                      field: 'ksfid',
                      title: '二维码'
                  },{
                      field: 'createTime',
                      title: '创建时间',
                    //获取日期列的值进行转换
                      formatter: function (value, row, index) {
                          return changeDateFormat(value)
                      }
                  },{
                      field: 'activeTime',
                      title: '激活时间',
                    //获取日期列的值进行转换
                      formatter: function (value, row, index) {
                          return changeDateFormat(value)
                      }
                  }
//                   ,{
//                   	field: 'operate',
//                   	title: '管辖',
//                   	align: 'center',
//                   	events: operateEvents,
//                       formatter: operateFormatter
//                   }
                  ]
              });
          };
          //得到查询的参数
          oTableInit.queryParams = function (params) {
              var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
              	 pageNumber: params.pageNumber,    
                   pageSize: params.pageSize,
                   loginUserName: $("#txt_search_login_user_name").val(),
                   mobile: $("#txt_search_mobile").val(),
                   roleId:$("#txt_search_role").val(),
                   mail:$("#txt_search_mail").val()
              };
              return temp;
          };
          return oTableInit;
      };
    //转换日期格式(时间戳转换为datetime格式)
      function changeDateFormat(cellval) {
          var dateVal = cellval + "";
          if (cellval != null) {
              var date = new Date(parseInt(dateVal.replace("/Date(", "").replace(")/", ""), 10));
              var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
              var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
              
              var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
              var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
              var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
              
              return date.getFullYear() + "-" + month + "-" + currentDate + " " + hours + ":" + minutes + ":" + seconds;
          }
      }

      var ButtonInit = function () {
          var oInit = new Object();
          var postdata = {};

          oInit.Init = function () {
              //初始化页面上面的按钮事件
          };

          return oInit;
      };
	


</script>

</body>
</html>